#grid-posts {
	li {
		width: 100%;
	}
	.thumbnail {
		.image {
			float: left;
			width: 70%;
		}
		.caption {
			float: left;
			position:relative;
			width: 25%;
		}
		.links a {
			border: none;
			background: white;
			padding: 8px 10px;
			margin: 10px 0 0 0;
			@include border-radius(5px);
			text-shadow:none;
			@include transition(all 0.3s ease-in-out);
		}
		.links a:hover {
			background: $mainColor;
			color: white;
			text-shadow:none;
		}
		.dates {
			font-size: 12px;
			font-weight: 500;
			margin: 0 0 10px 0;
			color: $black;
		}
	}
	
}