<div class="container-fluid heading">
	<div class="row-fluid">
		<div class="span12">
			<%= render_page_title(resource.title) %>
		</div>
	</div>
</div>
<% unless site.preferred_global_slideshow || resource.images.empty? %>
<div class="container-fluid">
	<div class="row-fluid">
		<div class="span12">
			<%= render_slideshow_for(resource) %>
		</div>
	</div>
</div>
<% end %>
<div class="container-fluid">
	<div class="row-fluid">
		<div class="span12"> 
			<%= render "secondary_menu" %>
			<%= render_html_text(resource.body) %>
		</div>
	</div>
</div>