<%
if @portfolio = site.portfolio
  @projects = @portfolio.projects.latest(10)
end 
#@features ||= site.features.live
%>
<% if @features.try(:any?)%>
<div class="container-fluid heading">
	<div class="row-fluid">
  		<div class="span12"  id="home-features">
    		<%= render 'shared/carousel', :features => @features %>
		</div>
  	</div>
</div>
<% end %> 
<% if resource.body.present? %>
<div class="container-fluid about">
	<div class="row-fluid">
		<div class="span12">
			<%= render_html_text(resource.body) %>
		</div>
	</div>
</div>
<% end %>             
<% if @projects.try(:any?) %>
<div class="container-fluid">
	<div class="row-fluid">
		<div class="span12">
			<h4 class='jcarousel-title'>Réalisations récentes</h4>              
              <%= render 'carousel', :items => @projects %>
		</div>
	</div>
</div>
<% end %> 
