<div class="container-fluid heading">
	<div class="row-fluid">
		<div class="span12">
			<%= render_page_title(resource.title) unless resource.root? %>
			<%= render_html_text(resource.body) %>
		</div>
	</div>
</div>
<%
	sections = begin
		if resource.children.try(:any?)
			resource.children
		else
			resource.self_and_siblings
		end
	end
%>
<% if sections.try(:any?) %>
<% sections.each do |section| %>
<div class="container-fluid services">
	<div class="row-fluid">
		<div class="span12">
			<h2><%= section.title.html_safe %></h2>
			<%= render_html_text(section.body) %>
		</div>
	</div>
</div>
<% end %>
<% end %>
