<div class="container-fluid heading">
	<div class="row-fluid">
		<div class="span12">
			<%= render_collection_header %>
		</div>
	</div>
</div>
<div class="container-fluid filter-categories">
	<div class="row-fluid">
		<div class="span12">
			<%= render_parent_categories(:title => '') %>
		</div>
	</div>
</div>
<div class="container-fluid">
	<div class="row-fluid">
		<div class="span12">
			<%= render_collection %>
		</div>
	</div>
</div>
<%#= render_parent_stickers(:title => '') %>